<div class="container">
  <div class="column">
    <p class="instruction">Register for a new account</p>
    <div class="form">
      <form>
        <input class="username" placeholder="Username">
        <input class="email" type="email" placeholder="Email">
        <input class="password" type="password" placeholder="Password">
      </form>
      <button (click)="register()">Register</button>
      <div class="changeAction"><a routerLink="/login">Login</a></div>
    </div>
    <p class="log"></p>
  </div>
</div>
